<style>
    .title{
        padding:50px;
        background-color:#b9ffff;
    }
    .title>span{
        font-size: 12px;
    }
</style>
<div class="row">
   <h1 class="text-center title ">
       @ViewData["ProjectName"]
       <span>
          @ViewData["ENV"] version @ViewData["Version"] 
       </span>
   </h1>
</div>
